.timeline {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

@keyframes grow {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: rgb(148, 163, 184, .5);
  transform: translateX(-50%);
  transform: scaleY(0);
  transform-origin: top left;
  animation: .5s linear 1s alternate forwards grow;
}

.timeline li {
  position: relative;
  width: 100%;
}

.timeline-t-p:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  border-radius: 50%;
  background-color: #29e88c;
}

.timeline-t:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  border-radius: 50%;
  background-color: #fff;
}